<img [src]="URL" alt="Chart"  class="resized-image">

<form>
    <div>
        <label>Locations:</label>
        <input type="text" [formControl]="locationControl">
    </div>
    <!-- <div>
        <label for="status">Status:</label>
        <select id="status" formControlName="status">
            <option value="pending">pending</option>
            <option value="approved">approved</option>
            <option value="closed">closed</option>
        </select>
    </div> -->
    <button type="button" (click)="getChart()">Submit</button>
</form>