<mat-toolbar color="primary">
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon aria-hidden="false" aria-label="Home" fontIcon="home"></mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/create']" routerLinkActive="active">Permit</button>
      <button mat-menu-item [routerLink]="['/receiver']" routerLinkActive="active">Receiver</button>
      <button mat-menu-item>Registration</button>
    </mat-menu>
    <span>{{ getTitle() }}</span>
  </mat-toolbar>

  <router-outlet></router-outlet>
  